.catalog-index {
  @extend .container;

  & .catalog-index__title {
    @include header;
  }

  & .catalog-index__body {
    @extend .row;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  & .catalog-index__filter {
    @extend .col, .s4;
  }

  & .catalog-index__products {
    @extend .col, .s8;
  }

  & .catalog-index__products-row {
    @extend .row;
  }

  & .catalog-index__product {
    @extend .col, .s6;
  }

  & .catalog-index__pagination {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }
}