@mixin border-radius($args) {
  border-radius: $args;
  -moz-border-radius: $args;
  -webkit-border-radius: $args;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin slightly-border-radius() {
  @include border-radius(3px);
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin max-size($width, $height) {
  max-width: $width;
  max-height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin box-sizing($args) {
  box-sizing: $args;
  -moz-box-sizing: $args;
  -webkit-box-sizing: $args;
}

@mixin header() {
  font-size: $font-size-header;
  font-weight: bold;
}

@mixin no-link($color: inherit) {
  text-decoration: none;
  color: $color;
  &:visited, &:hover, &:active {
    color: $color;
  }
}