// Fonts
// ============================================================\
$font-size-large: 26px;
$font-size-big: 18px;
$font-size-standart: 14px;
$font-size-small: 10px;
$font-size-mini: 8px;
$font-size-header: 20px;

// Colors
// ============================================================
$color-application-main: #1098f7;
$color-application-additional: #eff1f4;
$color-application-light: white;
$color-application-contrast: #ee2d24;
$color-text-standart: black;
$color-text-inverse: white;
$color-text-background: #d2d2d2;
$color-border-standart: #ebebeb;
$color-element-background: #f5f5f5;