.breadcrumbs {
  color: $color-application-main;
  content: "";
  margin: 0;
  padding: 20px 0;

  & .breadcrumbs__item {
    display: inline-block;

    &.breadcrumbs__item_active {
      color: $color-text-background;
    }
  }

  & .breadcrumbs__separator {
    color: $color-text-background;
  }
}