.button {
  @include no-link($color-text-inverse);
  @include border-radius(3px);
  background-color: $color-application-main;
  border: none;
  display: inline-block;
  padding: 5px 20px;

  &.button_round {
    @include border-radius(30px);
  }

  &.button_filtered {
    background-color: $color-application-light;
    border: solid 1px $color-border-standart;
    color: $color-text-background;
  }

  &.button_block {
    display: block;
    text-align: center;
    width: 100%;
  }
}