.cart {

  .cart__image {
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  .cart__total {
    display: inline-block;
    font-weight: bold;
  }

  .cart__units {
    font-weight: normal;
  }
}