.category-radio-list {
  & .category-radio-list__label {
    cursor: pointer;
    display: block;
    font-size: $font-size-standart-small;
    font-weight: 400;
    padding: 5px 0;
  }

  & .category-radio-list__radio {
    display: none;
  }

  & .category-radio-list__sub-categories {
    border-left: solid 1px $color-application-main;
    display: none;
    padding-left: 15px;

    &_active {
      display: block;
    }
  }

  .category-radio-list__radio:checked + .category-radio-list__label {
    background-color: rgba(0, 0, 255, 0.05);
    border-right: solid 5px $color-application-main;
  }
}