.client-comment {
  @extend .row;

  & .client-comment__client-image-layout {
    @extend .col-xs-2;
    text-align: center;
  }

  & .client-comment__client-image {
    @include border-radius(50%);
    @include max-size(100%, 100px);
  }

  & .client-comment__client-desc {
    @extend .col-xs-10;
  }

  & .client-comment__client-name {
    font-size: $font-size-big;
    font-weight: bold;
    margin-top: 10px;
  }

  & .client-comment__client-experience {
    color: $color-text-background;
    font-size: $font-size-standart-small;
    margin-top: 10px;
    max-width: 50%;
  }

  & .client-comment__comment {
    @extend .col-xs-12;
    color: $color-text-background;
    margin-top: 20px;
  }
}