.client-comment {
  background-color: $color-application-light;
  padding: 20px;

  & .client-comment__client-info {
    @extend .row;
  }

  & .client-comment__client-image {
    @extend .col-xs-3;
    text-align: center;
  }

  & .client-comment__client-desc {
    @extend .col-xs-9;
  }

  & .client-comment__client-name {
    font-size: $font-size-big;
    font-weight: bold;
    margin-top: 10px;
  }

  & .client-comment__client-experience {
    color: $color-text-background;
  }

  & .client-comment__comment {
    color: $color-text-background;
    margin-top: 10px;
  }
}