$height: 400px;
$dots-height: 50px;
$item-height: $height - $dots-height;

.custom-carousel {
  height: $height;

  & .custom-carousel__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $item-height;
    line-height: $item-height;
  }
}