.data-display-setter {
  @extend .row;

  & .data-display-setter__sorting {
    @extend .col-xs-4;
  }

  & .data-display-setter__pagination {
    @extend .col-xs-6;
  }

  & .data-display-setter__submit {
    @extend .col-xs-2;
    text-align: right;
  }

  & .data-display-setter__label {
    color: $color-text-background;
    margin-right: 10px;
  }
}