.footer-sitemap {
  @extend .container;
  font-size: $font-size-standart;
  text-transform: uppercase;

  & .footer-sitemap__layout {
    @extend .row;
    border-color: $color-border-standart;
    border-style: none none solid none;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  & .footer-sitemap__menu-layout {
    @extend .col-xs-10;
  }

  & .footer-sitemap__menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  & .footer-sitemap__menu-item {
    display: inline-block;
    padding: 0 20px;
    &:first-child {
      padding-left: 0;
    }
  }

  & .footer-sitemap__menu-item-link {
    color: $color-text-standart;
  }

  & .footer-sitemap__phone {
    @extend .col-xs-2;
    font-weight: bold;
    text-align: right;
  }
}