$height-cart: 36px;
$font-padding: $font-size-standart-small;

@mixin menu-item {
  display: inline-block;
  float: none;
  font-size: $font-size-standart;
  vertical-align: bottom;
}

.header-info {
  @extend .container;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 0;

  & .header-info__layout {
    @extend .row;
  }

  & .header-info__logotype-layout {
    @extend .col-xs-2;
    @include menu-item;
  }

  & .header-info__logotype {
    vertical-align: text-bottom;
    width: 120px;
  }

  & .header-info__search {
    @extend .col-xs-4;
    @include menu-item;
    padding-bottom: $font-padding * 2;
  }

  & .header-info__phones {
    @extend .col-xs-4;
    @include menu-item;
    text-align: center;
  }

  & .header-info__contact-phone {
    font-size: $height-cart;
    font-weight: 500;
  }

  & .header-info__contact-info {
    display: inline-block;
    font-size: $font-padding;

    &_right {
      margin-left: 30px;
    }
    &_highlight {
      color: $color-application-main;
    }
  }

  & .header-info__cart {
    @extend .col-xs-2;
    @include menu-item;
    padding-bottom: $font-padding * 2;
  }
}