.header-menu {
  border-color: $color-border-standart;
  border-style: solid none;
  border-width: 1px;
  font-size: $font-size-standart;
  text-transform: uppercase;

  & .header-menu__container {
    @extend .container;
  }

  & .header-menu__row {
    @extend .row;
    margin-bottom: 0;
  }

  & .header-menu__layout {
    @extend .col, .m12;
    margin-bottom: 0;
    margin-top: 0;
  }

  & .header-menu__item {
    display: inline-block;
    border-color: $color-border-standart;
    border-style: none;
    border-width: 1px;
    &:not(:last-child) {
      border-right-style: solid;
    }
  }

  & .header-menu__item-link {
    @include size(100%, 100%);
    @include transition(all 0.5s);
    color: $color-text-standart;
    display: block;
    padding: 10px 20px;
  }

  & .header-menu__item:first-child .header-menu__item-link {
    padding-left: 0;
  }
}

.header-menu.header-menu_inversed {
  border: none;
  background-color: $color-menu-inverse;
  color: $color-text-inverse;
  text-transform: none;

  & .header-menu__item {
    border: none;
  }

  & .header-menu__item-link {
    &.header-menu__item-link_highlight_1 {
      background-color: $color-menu-highlight-1;
    }
    &.header-menu__item-link_highlight_2 {
      background-color: $color-menu-highlight-2;
    }
  }

  & .header-menu__item-link {
    @include size(100%, 100%);
    color: $color-text-inverse;
    display: block;
    padding: 20px;
    &:hover {
      background-color: $color-application-light;
      color: $color-menu-inverse;
    }
  }

  & .header-menu__item:first-child .header-menu__item-link {
    padding: 20px;
  }
}

.header-menu.header-menu_top-menu {
  border: none;
  background-color: $color-menu-top-menu;
  font-size: $font-size-small;
  text-transform: none;

  & .header-menu__item {
    border: none;
  }

  & .header-menu__item-link {
    @include size(100%, 100%);
    display: block;
    padding: 5px 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}