.header-info {
  @extend .container;

  & .header-info__layout {
    align-items: flex-end;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  & .header-info__logotype-layout {
  }

  & .header-info__logotype {
    vertical-align: text-bottom;
    width: 100px;
  }

  & .header-info__order-phones {
    flex-grow: 2;
    padding-left: 20px;
  }

  & .header-info__order-work-times {
    color: $color-text-background;
    font-size: $font-size-standart-small;
    margin-top: 5px;
  }

  & .header-info__order-work-time {
    &.header-info__order-work-time_highlight {
      color: $color-application-main;
    }
  }

  & .header-info__order-location {
    color: $color-text-background;
    display: inline-block;
    width: 70px;
  }

  & .header-info__order-phone {
    font-size: $font-size-standart-big;
    color: $color-text-standart;
  }

  & .header-info__controls {
    white-space: nowrap;
  }

  & .header-info__controls-item {
    display: inline-block;
    margin-left: 20px;
  }
}