$font-size-text: 16px;
$font-size-icons: 40px;

.icon-list {
  margin: 0;
  padding: 0;

  & .icon-list__item {
    display: block;
    font-weight: normal;
    font-size: $font-size-text;
    color: $color-text-background;
  }

  & .icon-list__icon {
    color: $color-text-standart;
    font-size: $font-size-icons;
    margin-right: 10px;
  }
}