$font-top: 12px;
$font-bottom: 18px;
$image-size: ($font-top + $font-bottom);
$additional-padding: 5px;

.idv-trinity {
  background-size: $image-size $image-size;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: $image-size + $additional-padding * 2;

  & .idv-trinity__info {
    color: $color-text-background;
    display: inline-block;
    vertical-align: middle;
  }

  & .idv-trinity__description {
    font-size: $font-top;
    line-height: $font-top;
    text-transform: uppercase;
  }

  & .idv-trinity__value {
    font-size: $font-bottom;
    line-height: $font-bottom;
  }

  &.idv-trinity_weight {
    background-image: url('/img/icons/weight.png');
  }
  &.idv-trinity_box {
    background-image: url('/img/icons/box.png');
  }
  &.idv-trinity_order {
    background-image: url('/img/icons/shopping-basket.png');
  }
}