$login-size: 40px;

.login {
  color: $color-text-standart;
  display: block;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;

  & .login__image-layout {
    display: inline-block;
    vertical-align: middle;
  }

  & .login__image {
    color: $color-text-background;
    font-size: $login-size;
    vertical-align: text-bottom;
  }

  & .login__info {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  & .login__title {
    color: $color-application-main;
  }

  & .login__user {
    color: $color-text-background;
  }
}