.login-form {
  & .login-form__title {
    text-align: center;
  }

  & .login-form__other-links {
    font-size: $font-size-small;
    padding: 5px 0;
    white-space: nowrap;
  }

  & .login-form__reset-password {

  }

  & .login-form__sign-up {
    float: right;
  }
}