$size-image: 250px;
$size-thumbnail: 100px;

.product-image {
  border: solid 1px $color-border-standart;

  & .product-image__main-image {
    @include size($size-image * 3 / 4, $size-image);
    display: inline-block;
    line-height: $size-image;
  }

  & .product-image__image {
    @include max-size(100%, 100%);
    vertical-align: middle;
  }

  & .product-image__image-thumbnails {
    width: 100%;
    padding: 5px;
  }

  & .product-image__thumbnail {
    //@include size($size-thumbnail * 3 / 4, $size-thumbnail);
    @include size(103px, $size-thumbnail);
    border: solid 1px $color-border-standart;
    cursor: pointer;
    display: inline-block;
    line-height: $size-thumbnail * 3 / 4;
    margin: 5px;
    padding: 10px;

    &_active {
      border: solid 1px $color-border-standart;
    }
  }

  & .product-image__thumbnail-image {
    @include max-size(100%, 100%);
    vertical-align: middle;
  }
}