$size-image: 250px;
$size-thumbnail: 80px;

.product {
  & .product__info {
    @extend .col-xs-8;
    padding-bottom: 20px;
  }

  & .product__info-layout {
    @extend .row;
  }

  & .product__main-info {
    @extend .col-xs-8;
  }

  & .product__info-section {
    margin-bottom: 20px;
  }

  & .product__price {
    font-weight: 400;
    font-size: $font-size-large;
    line-height: $font-size-large;
  }

  & .product__item-price {
    font-weight: 400;
    font-size: $font-size-big;
    line-height: $font-size-big;
  }

  & .product__attribute-label {
    color: $color-text-background;
    font-size: $font-size-standart-small;
    line-height: $font-size-standart-small;
    margin-top: 2px;
  }

  & .product__weight {
    color: $color-text-background;
    float: right;
  }

  & .product__quantity {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 120px;
  }

  & .product__images {
    @extend .col-xs-4;
  }

  & .product__add-to-cart {
    @extend .button;
    height: 40px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
  }

  & .product__description-title {
    font-weight: 600;
    margin-bottom: 10px;
  }

  & .product__additional-info {
    @extend .col-xs-4;
  }

  & .product__additional-info-layout {
    padding: 20px;
    background-color: $color-border-standart;
  }

  & .product__additional-info-title {
    font-size: $font-size-big;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    line-height: $font-size-big;
  }

  & .product__description {
    @extend .col-xs-12;
  }
}