$body-padding: 10px;
$footer-height: 40px;

.q-order {
  @include border-radius(2px);
  background-color: $color-application-light;
  border: solid 1px $color-border-standart;
  display: inline-block;

  & .q-order__categories {
    color: $color-text-background;
    font-size: $font-size-small;
  }

  & .q-order__name {
    font-weight: bold;
    font-size: $font-size-standart;
    height: $font-size-standart * 3.5;
  }

  & .q-order__header {
    padding: $body-padding;
    padding-bottom: 0;
  }

  & .q-order__body {
    padding: 0 $body-padding;
  }

  & .q-order__image {
    vertical-align: middle;
  }

  & .q-order__price-info {
    display: inline-block;
  }

  & .q-order__old-price {
    color: $color-text-background;
    font-size: $font-size-small;
    text-decoration: line-through;
  }

  & .q-order__price {
    @include border-radius(5px);
    background-color: $color-application-main;
    color: $color-text-inverse;
    padding: 5px 10px;
  }

  & .q-order__footer {
    border-top: solid 1px $color-border-standart;
    height: $footer-height;
    margin-top: $body-padding;
    padding-left: $body-padding;
    text-align: right;
  }

  & .q-order__weight {
    color: $color-text-background;
    float: left;
    height: $footer-height;
    line-height: $footer-height;
    overflow: hidden;
  }

  & .q-order__quantity {
    @include size(40%, $footer-height);
    display: inline-block;
    overflow: hidden;
  }

  & .q-order__order {
    @include size($footer-height, $footer-height);
    display: inline-block;
    overflow: hidden;
  }

  & .q-order__order-button {
    @include size(100%, 100%);
    color: $color-application-main;
    display: block;
    line-height: $footer-height;
    text-align: center;
  }
}