$footer-height: 40px;

.q-order {
  @include border-radius(2px);
  background-color: $color-application-light;
  border: solid 1px $color-border-standart;
  display: inline-block;
  padding: 10px 20px;

  & .q-order__header {
    color: $color-text-background;
    font-size: $font-size-standart-small;
  }

  & .q-order__info {
    @extend .row;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  & .q-order__image-section {
    @extend .col-xs-5;
    text-align: center;
  }

  & .q-order__image-layout {
    @include size(90px, 120px);
    text-align: center;
    line-height: 120px;
  }

  & .q-order__image {
    @include max-size(100%, 100%);
    vertical-align: middle;
  }

  & .q-order__info-section {
    @extend .col-xs-7;
  }

  & .q-order__name {
    @include no-link($color-text-standart);
    color: $color-text-standart;
    font-weight: 500;
    line-height: $font-size-standart;
  }

  & .q-order__name-layout {
    font-size: $font-size-standart;
    line-height: $font-size-standart * 1.1;
    height: $font-size-standart * 1.1 * 3;
  }

  & .q-order__price-layout {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  & .q-order__price {
    color: $color-application-main;
    font-weight: bold;
  }

  & .q-order__price-details {
    color: $color-text-background;
  }

  & .q-order__footer {
    @extend .row;
  }

  & .q-order__footer-section {
    @extend .col-xs-6;
  }

  & .q-order__order-button {
    @extend .button, .button_block;
    height: $footer-height;
    line-height: $footer-height;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }
}