$height: 40px;

.quantity-setter {
  @extend .row;
  @include border-radius(3px);
  background-color: $color-application-light;
  border: solid 1px $color-border-standart;
  color: $color-text-background;
  height: $height;
  margin: 0;
  text-align: center;

  & .quantity-setter__action-icon {
    font-size: 14px;
  }

  & .quantity-setter__add {
    @extend .col, .s4;
    @include no-link;
    height: $height;
    line-height: $height;
    padding: 0;
  }

  & .quantity-setter__input {
    @extend .col, .s4;
    @include border-radius(3px);
    @include box-sizing(border-box);
    background-color: $color-element-background;
    border: none;
    height: $height;
    outline: none;
    padding: 0;
    text-align: center;
  }

  & .quantity-setter__remove {
    @extend .col, .s4;
    @include no-link;
    height: $height;
    line-height: $height;
    padding: 0;
  }
}


$height: 30px;

.quantity-setter.quantity-setter_height_30 {
  height: $height;

  & .quantity-setter__add {
    height: $height;
    line-height: $height;
  }

  & .quantity-setter__input {
    height: $height;
  }

  & .quantity-setter__remove {
    height: $height;
    line-height: $height;
  }
}