$height: 40px;
$width: 100%;
$size-icon: 20px;

.quick-search {
  @include size($width, $height);
  position: relative;
  z-index: 100;

  & .quick-search__input {
    @include size(100%, 100%);
    background-color: white;
    background-image: url("/img/icons/search.png");
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: $size-icon $size-icon;
    border: solid 1px $color-border-standart;
    color: $color-text-background;
    left: 0;
    outline: none;
    padding-left: 40px;
    position: absolute;
    top: 0;
  }

  & .quick-search__results {
    background-color: white;
    border-color: $color-border-standart;
    border-style: none solid solid solid;
    border-width: 1px;
    display: none;
    left: 0;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;

    & > div {
      padding: 5px 20px 5px 40px;
    }

    & > div:hover {
      background-color: rgba($color-application-main, 0.3);
    }
  }

  & .quick-search__result-link {
    @include no-link($color-text-standart);
    text-transform: lowercase;
  }

  & .quick-search__info-link {
    @include no-link($color-text-standart);
  }
}