$font-size-main: 26px;
$font-size-asides: $font-size-main * 0.45;

.trinity {
  font-size: $font-size-main;

  & .trinity__main {
    display: inline-block;
    line-height: normal;
  }

  & .trinity__top {
    display: inline-block;
    font-size: $font-size-asides;
    line-height: normal;
    margin-left: 5px;
    overflow: visible;
    vertical-align: top;
    width: 0;
  }

  & .trinity__bottom {
    display: inline-block;
    font-size: $font-size-asides;
    line-height: normal;
  }
}