$height: 50px;
$padding: 5px;
$border: 1px;
$real-height: $height - $padding * 2 - $border * 2;
$quantity-width: 80px;

.w-order {
  @include slightly-border-radius;
  border: solid $border $color-border-standart;
  height: $height;
  line-height: $real-height;
  padding: $padding;

  & .w-order__product-image-container {
    @include size(10%, 100%);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  & .w-order__product-image {
    @include max-size(100%, 100%);
  }

  & .w-order__product-info {
    @include size(50%, $real-height);
    display: inline-block;
    line-height: normal;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
  }

  & .w-order__product-pack {
    font-size: $font-size-small;
    color: $color-text-background;
  }

  & .w-order__product-name {
    font-size: $font-size-standart-small;
    @include no-link($color-text-standart);
    font-weight: 500;
  }

  .w-order__cart-info {
    float: right;
    height: $height;
  }

  & .w-order__product-price {
    @include slightly-border-radius;
    color: $color-text-standart;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  & .w-order__order-quantity {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    width: $quantity-width;
  }

  & .w-order__order-button {
    color: $color-application-main;
    padding: 0 5px 0 15px;
  }
}
