.wholesale-grid {

  & .wholesale-grid__header {
    display: none;
  }

  & .wholesale-grid__row {
    border: none;
    padding: 0;
  }

  & .wholesale-grid__cell {
    border: none;
    padding: 0;
  }

  & .wholesale-grid__table {
    border: none;
    width: 100%;
  }
}